.button
  padding: 13px 20px
  border: none
  border-radius: 2px
  text-transform: uppercase
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    color: $light
    box-shadow: 0 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.3s
    &:hover
     box-shadow: none 
     background-color: darken($primary, 10)
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light
    transition: background-color, border 0.3s
    &:hover
      background-color: darken($primary, 10)
      border: 1px solid darken($primary, 10)