@media screen and ( min-width: 1440px ) 
  .header
    padding-top: 1.8rem
    padding-bottom: 1.5rem
    .menu
      margin-left: -0.6em
  .card
    &__text
      &--repair
        margin-left: 2.2rem
        padding-top: 2rem
        margin-top: -9.3rem
        font-size: 1.28rem
      &--design
        margin-right: 2.3rem
        margin-top: -8.9rem
        padding-left: 2.32rem
        padding-bottom: 1.82rem
        &-last
          padding-bottom: 2.02rem
    &__list
      &--repair
        font-size: 1.09rem
      &--design
        line-height: 25.09px
        font-size: 1.09rem
  .control
    &__policy-label
      margin-left: -4.9rem
@media screen and ( min-width: 376px ) and ( max-width: 1439px) 
  .card
    &__text
      &--repair
        margin-left: auto
@media screen and ( min-width: 993px ) and ( max-width: 1439px) 
  .row
    &__projects
      align-items: center
  .swiper-slide
    &__text
      flex-basis: 45%
      margin-left: 1%
      margin-right: 4%
@media screen and ( max-width: 1280px )
  .nav
    &__menu
      margin-left: 0
    &__item
      margin-right: 1.8rem
  .col
    flex-basis: 32%
  .section-title
    &__heading
      &--projects
        font-size: 1.6rem
  .swiper
    &-slide
      &__description
        padding-bottom: 4.9rem
      &__heading
        font-size: 1.2rem
        font-weight: 500
        margin-top: 0
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .hero
    &__content
      margin-left: 5rem
  .nav
    &__item
      margin-right: 1rem
@media screen and ( min-width: 993px)
  .menu
    &__link
      transition: color 0.1s
      &:hover
        color: $light
  .phone
    transition: color 0.1s
    &:hover
      color: $light
  .instagram
    &__link
      transition: color 0.1s
      &::after
        transition: color 0.1s
      &:hover
        color: $light
        &::after
          background-color: $light
  .hero
    &__scroll-down
      transition: background-color 0.1s
      &:hover
        background-color: lighten($dark, 2)
@media screen and ( max-width: 992px )
  .menu
    &__link
      transition: color 0.1s
      &:hover
        color: $light
  .phone
    transition: color 0.1s
    &:hover
      color: $light
  .hero
    &__scroll-down
      transition: background-color 0.1s
      &:hover
        background-color: lighten($dark, 2)
  .header
    padding-left: 0
    padding-right: 0
  .container
    width: 90%
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
    &__text
      max-width: 100%
  .card
    &__text
      max-width: 96%
  .section-title
    &__text
      &--projects
        font-size: 1.15rem
@media screen and ( min-width: 761px) and ( max-width: 992px ) 
  .card
    &__text
      &--repair
        min-height: 25rem
    &__pricetag
      font-size: 1.15rem
@media screen and ( min-width: 577px) and ( max-width: 992px ) 
  .projects
    padding-top: 8rem
  .row
    &__projects
      flex-wrap: wrap
  .col-50
    flex-basis: 100%
    width: 100%
    padding-left: 0
    &__text
      margin-bottom: 2.7rem
  .swiper-container
    max-height: 359px
  .swiper-slide
    margin: 0
    &__description
      flex-basis: 100%
      margin-top: -14.3px
      padding-right: 1rem
      padding-bottom: 3.6rem
      padding-top: 2rem
    &__text
      margin-right: 4.5%
      margin-left: 0.5%
      margin-bottom: 1.1rem
      flex-basis: 45%
    &__heading
      margin-bottom: 0.6rem
      letter-spacing: -0.3px
    &__value
      font-size: 1.15rem
@media screen and ( min-width: 577px) and ( max-width: 992px )
  .swiper-container
    max-height: 359px 
@media screen and ( max-width: 760px )
  .section-title
    margin-bottom: 3.3rem
  .section-title
    &__heading
      font-size: 1.88rem
      margin-bottom: 1.4rem
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5.59rem
  .card
    &__text
      margin-left: 0
      max-width: 22.47rem
      padding: 1.79rem 2.5rem
      margin-top: -11.6rem
    &__title
      font-size: 1.25rem
    &__list
      line-height: 1.89rem
    &__pricetag
      bottom: -0.69rem
      font-size: 1.24rem
      padding: 0.78rem 2.8rem
  .design
    &__card
      margin-bottom: 6.5rem
  .types
    &__card
      margin-bottom: 6.4rem
  .control
    background: $dark
    padding-bottom: 3.7rem
    &__input-group
      flex-basis: 100%
      &--name
        margin-bottom: 5.2rem
      &--phone
        margin-bottom: 1rem
    &__input
      border-bottom-color: $light
      &::placeholder
        color: rgba($light, 1)
        font-size: 1.49rem
    &__label
      color: rgba($light, 0.5)
      font-size: 1.2rem
      margin-bottom: -0.2rem
    &__section-title
      margin-top: -25rem
    &__video
      min-height: 24rem
      margin-bottom: 2.3rem
    &__text
      font-size: 1.19rem
      max-width: 33.9rem
      letter-spacing: -0.14px
      line-height: 169%
      margin-bottom: 2.6rem
      color: $light
      font-weight: 200
      &::before
        margin-bottom: 1.2rem
    &__button
      order: 5
      font-size: 1.2rem
      letter-spacing: 0.9px
      padding: 1.4rem 10.6rem 1.3rem 10.7rem
      margin-bottom: -2.1rem
    &__policy
      color: $light
      margin: 0
      margin-bottom: 5.2rem
    &__policy-label
      justify-content: flex-start
      margin-left: -0.2rem
      letter-spacing: 0.8px
      font-size: 1.2rem
  .video
    &__play
      width: 64px
      margin: auto
      margin-bottom: 68.3px
  .types
    margin-top: -2.3rem
    
     
@media screen and ( max-width: 576px )
  .container
    width: 90%
  .header
    padding-top: 1.5rem
    padding-bottom: 1.8rem
  .menu
    &__logo
      margin-left: 0.58rem
  .contacts
    &__button
      display: none
    &__phone
      text-decoration: none
      color: $light
      margin-right: 0
      margin-top: 0.2rem
  .title
    font-size: 1.64rem
    line-height: 2.2rem
    &--primary
      letter-spacing: normal
  .hero
    max-height: 533px
    &__scroll-down
      display: none
    &__content
      width: 100%
    &__title
      max-width: 26rem
      margin-top: 2.9rem
      font-size: 1.9rem
      line-height: 140%
    &__text
      font-size: 1.5rem
      margin-bottom: 2.65rem
      margin-right: 1.4rem 
      max-width: 100%
      line-height: 24.1px
    &__button
      display: block
      height: 4.35rem
      width: 100%
      margin-bottom: 2.05rem 
      margin-left: -0.2px
      font-size: 1.08rem
      letter-spacing: 0.3px
      &--outline
        font-size: 1.03rem
        padding-bottom: 1rem
  .projects
    padding-top: 2.8rem
  .col-50
    flex-basis: 100%
    width: 100%
    padding-left: 0
    &__text
      margin-bottom: 2.7rem
  .swiper-container
    max-height: 203px
  .swiper-slide
    margin: 0
    &__description
      flex-basis: 100%
      margin-top: -14.3px
      padding-right: 1rem
      padding-bottom: 3.6rem
      padding-top: 0
    &__text
      margin-right: 4.5%
      margin-left: 0.5%
      margin-bottom: 1.1rem
      flex-basis: 45%
    &__heading
      margin-bottom: 0.6rem
      letter-spacing: -0.3px
    &__value
      font-size: 1.15rem
  .types
    &__section-title
      margin-bottom: 3.4rem
    &__card
      margin-bottom: 6.2rem
      margin-left: 0
      margin-right: 0
  .section-title
    &__text
      &--projects
        font-size: 1.15rem
        letter-spacing: 0.1px
        padding-right: 3rem
    &__word
      &::after
        display: none
    &__heading
      &--projects
        font-size: 1.75rem
        font-weight: 400
        letter-spacing: -0.8px
        margin-bottom: 2.1rem
      &--repair
        margin-bottom: 1.8rem
        margin-top: -0.7rem
    &__image
      &--repair
        margin-top: -0.3rem
  .card
    &__title
      &--repair
        margin-left: 0.2rem
    &__text
      max-width: 22.4rem
      margin-top: -11.75rem
      padding: 1.89rem 2.7rem 0.8rem
      &--repair
        max-width: 22.4rem
        margin-top: -12rem
        padding: 2.01rem 1.9rem 1rem 2.1rem
      &--repair-second
        margin-top: -11.6rem
      &--repair-last
        margin-top: -11.8rem
      &--design
        margin-top: -11.99rem
        &-last
          margin-top: -12.1rem
      &--design-first
        padding-top: 1.65rem
        padding-bottom: 1.05rem
    &__item
      &--hide
        display: none    
    &__list
      &--mobile
        padding-left: 0.8rem
        padding-top: 0.3rem
    &__pricetag
      bottom: -1.6rem
      &--first
        padding: 0.78rem 2.8rem 0.78rem 2.7rem
        bottom: -1.55rem
        letter-spacing: normal
      &--second
        padding: 0.88rem 2.6rem 0.78rem 2.6rem
        letter-spacing: normal
        margin-bottom: 0.1rem
      &--third
        bottom: -1.6rem
        padding: 0.78rem 2.4rem 0.78rem 2.4rem
        letter-spacing: normal
      &--design-first
        padding: 0.78rem 4.3rem 0.78rem 3.8rem
        bottom: -1.65rem
        letter-spacing: normal
      &--design-second
        padding: 0.78rem 4rem 0.78rem 3.8rem
        bottom: -1.65rem
        letter-spacing: normal
      &--design-third
        padding: 0.78rem 4rem 0.78rem 3.8rem
        bottom: -1.95rem
        letter-spacing: normal
  .design
    &__section-title
      margin-bottom: 1.5rem
    &__subtitle
      width: 87.1%
      font-size: 1.38rem
      letter-spacing: -0.8px
      line-height: 125%
    &__card
      margin-left: 0 
      margin-right: 0 
      margin-bottom: 6.5rem
  .img
    &__wrapper
      &::after
        opacity: 0
  .control
    &__video
      min-height: 17.4rem
@media screen and ( max-height: 520px )
  .hero
    &__instagram
      height: 100%
    &__scroll-down
      display: none
@media screen and ( max-width: 576px ) and (orientation: landscape) 
  .hero 
    &__text
      margin-bottom: 1rem
      line-height: 90%
    &__button
      margin-bottom: 1rem

  
  