@media screen and ( min-width: 1280px )
  .card
    &__pricetag
      padding: 1.1rem 5.8rem 1.1rem 2.2rem
      left: -0.4rem
      &--repair
        padding: 1.1rem 2.7rem
@media screen and ( max-width: 1280px )
  .nav
    &__menu
      margin-left: 0
    &__item
      margin-right: 1.8rem
  .col
    flex-basis: 32%
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .hero
    &__content
      margin-left: 5rem
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .header
    padding-left: 0
    padding-right: 0
  .container
    width: 90%
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
    &__text
      max-width: 100%
  .card
    &__text
      max-width: 96%
@media screen and ( max-width: 760px )
  .section-title
    margin-bottom: 3.3rem
  .section-title
    &__heading
      font-size: 1.88rem
      margin-bottom: 1.4rem
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5.59rem
  .card
    &__text
      margin-left: 0
      max-width: 22.47rem
      padding: 1.79rem 2.5rem
      margin-top: -11.6rem
    &__title
      font-size: 1.25rem
    &__list
      line-height: 1.89rem
    &__pricetag
      bottom: -0.69rem
      font-size: 1.24rem
      padding: 0.78rem 2.8rem
@media screen and ( max-width: 576px )
  .container
    width: 90%
  .header
    padding-top: 1.7rem
    padding-bottom: 1.8rem
  .menu
    &__logo
      margin-left: 0
  .contacts
    &__button
      display: none
    &__phone
      text-decoration: none
      color: $light
      margin-right: 0
  .title
    font-size: 1.64rem
    line-height: 2.2rem
    &--primary
      letter-spacing: normal
  .hero
    max-height: 533px
    &__scroll-down
      display: none
    &__content
      width: 100%
    &__title
      max-width: 26rem
      margin-top: 2.9rem
      font-size: 1.9rem
      line-height: 140%
    &__text
      font-size: 1.5rem
      margin-bottom: 2.65rem
      margin-right: 1.4rem 
      max-width: 100%
      line-height: 24.1px
    &__button
      display: block
      height: 4.35rem
      width: 100%
      margin-bottom: 2.05rem 
      margin-left: -0.2px
      font-size: 1.08rem
      letter-spacing: 0.3px
  .types
    &__card
      margin-bottom: 6.4rem
      margin-left: 0
  .card
    &__text
      max-width: 22.4rem
      margin-top: -11.7rem
      padding: 1.89rem 2.7rem 0.8rem
      &--mobile
        max-width: 22.4rem
        margin-top: -12.1rem
        padding: 1.67rem 2.8rem 1rem
    &__item
      &--hide
        display: none    
    &__list
      &--mobile
        padding-left: 0.8rem
        padding-top: 0.3rem
    &__pricetag
      bottom: -1.6rem
      &--repair
        padding: 0.78rem 2.4rem
      &--first
        padding: 0.78rem 2.8rem
        bottom: -1.8rem
      &--mobile
        padding: 0.78rem 3.9rem
      &--last
        bottom: -1.4rem
        padding: 0.78rem 3.8rem
  .design
    &__section-title
      margin-bottom: 1.7rem
    &__subtitle
      width: 87.1%
      font-size: 1.13rem
      letter-spacing: 0.33px
      line-height: 154%
    &__card
      margin-left: 0  
      margin-bottom: 6.5rem
      
@media screen and ( max-height: 520px )
  .hero
    &__instagram
      height: 100%
    &__scroll-down
      display: none
@media screen and ( max-width: 576px ) and (orientation: landscape) 
  .hero 
    &__text
      margin-bottom: 1rem
      line-height: 90%
    &__button
      margin-bottom: 1rem

  
  