.design
  padding-bottom: 30rem
  &__section-title
    margin-bottom: 1.48rem
  &__subtitle
    font-family: 'Futura Book', sans-serif
    font-size: 1.49rem
    line-height: 1.93rem
    letter-spacing: -0.4px
    text-align: center
    color: lighten($dark, 13.73)
    width: 59.3%
    margin-left: auto
    margin-right: auto
    margin-bottom: 3.2rem
  &__card
    margin-left: 2.5%
    margin-right: 2.5%
.card
  &__text
    &--design
      margin-right: 2.2rem
      padding-left: 2.42rem
      margin-top: -9.1rem
  &__list
    &--design
      margin-bottom: 2.5rem
  &__pricetag
    &--design
      padding: 1.08rem 5.5rem 1.08rem 2.1rem
      letter-spacing: -0.3px
    &--last
      margin-bottom: -0.21rem
        
    