.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 99
  background-color: $dark
  padding-top: 1.7rem
  padding-bottom: 1.7rem
  padding-left: 85px
  padding-right: 85px
  &__container
    width: 100%
  .menu
    display: flex
    justify-content: space-between
    align-items: center
.menu
  &__logo
    font-size: 1.02rem
    letter-spacing: 0.02rem
    font-weight: 900
    margin-left: 3.5px
  &__nav
    margin-left: 1.5rem
.logo
  color: $primary
  text-transform: uppercase
.nav
  display: block
  &__item
    color: $light  
    text-transform: uppercase
    text-decoration: none
    margin-right: 2.65rem
    transition: color 0.2s
    &:hover
      color: $primary
.phone
  color: $primary
.contacts
  &__phone
    font-size: 1.03rem
    margin-right: 2.8rem
  &__button
    margin-right: -0.3rem


