.steps
  position: relative
  background: $dark url('../img/big-lines.png') no-repeat center
  color: $light
  padding-top: 12.4rem
  &__overlay
    position: absolute
    background-color: rgba($dark, 0.6)
    width: 100%
    height: 100%
    top: 0
    left: 0
    bottom: 0
    right: 0
.col
  &__step-1
    flex-basis: 40%
    z-index: 9
    &--
  &__step-2
    flex-basis: 60%
